<style>

.btn {
line-height: 1.2em;
font-size: 1.3em;
padding: 20px;
display: inline-block;
vertical-align: middle;
text-align: center;
background-color: #fff;
border: 1px solid #efefef!important;
border-radius: 15px;
box-shadow: 0 4px 8px 0 rgba(24, 50, 71, .1);
margin-right: 15px;
margin-left: 15px;
margin-top: 15px;
margin-bottom: 15px;
transition: transform 250ms;
}

.icon {
  vertical-align: middle;
  width:80px;
  padding-top:0px;
  padding-bottom:20px;
}

h2 {
font-size: 2.5rem;
text-align: center;
padding-top:145px;
padding-bottom:40px;
}

h4 {
font-size: 1.25rem;
text-align: center;
}

p {
text-align: center;
padding-top:5px;
padding-left:20px;
padding-right:20px;
padding-bottom:10px;
}

.text-wrap {
white-space: normal;
width: 300px;
}

a:link {
color: black;
}

a:visited {
color: black;
}

.choose-dept {
text-align: center;
}

div.it-buttons {
justify-content: center!important;
display: flex;
flex-wrap: wrap;
width: 100%;
}

.btn:hover {
transform: translateY(-10px);
box-shadow: 0 4px 18px 0 rgba(36, 50, 66, .3);
}

</style>
